<h2>THÊM/ SỬA / XÓA</h2>
<form autocomplete="off">
  <div class="row">
    <div class="col-9">
      <mat-form-field *ngIf="false">
        <mat-label>GUID</mat-label>
        <input matInput [(ngModel)]="dataSP.Id" name="id">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Tên</mat-label>
        <input matInput [(ngModel)]="dataSP.Ten" name="Ten">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Giá mặc định</mat-label>
        <input matInput type="number" [(ngModel)]="dataSP.GiaMacDinh" name="gia">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mô tả</mat-label>
        <textarea matInput [(ngModel)]="dataSP.MoTa" name="MoTa" rows="4"></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Loại thiết bị</mat-label>
        <mat-select [(value)]="dataSP.LoaiSPId" >
          <ng-container *ngFor="let item of dsLoaiSp">
            <mat-option value="{{item.id}}">{{ item.ten }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Hãng sản xuất</mat-label>
        <mat-select [(value)]="dataSP.HangSXId" (selectionChange)="getLoaiSP(dataSP.HangSXId)">
          <ng-container *ngFor="let item of dsHangSX">
            <mat-option value="{{item.id}}">{{ item.ten }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Chọn nhà cung cấp</mat-label>
        <mat-select [(value)]="dataSP.NhaCungCapId">
          <mat-option *ngFor="let item of dsNhaCungCap" value="{{item.id}}">
            {{item.ten}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Cấu hình</mat-label>
        <input matInput aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let state of filteredStates | async" [value]="state.code" (click)="CauHinhChosse()"
            style="height: 100px;">
            <img class="example-option-img" aria-hidden
              src="https://upload.wikimedia.org/wikipedia/commons/f/f7/IPhone_12_Pro_Max.png" height="25">
            <span>{{state.ten}}</span> |
            <small> Cpu: {{state.cpu}}</small>
            <small> Màn hình: {{state.manHinh}}</small>
            <small> Pin: {{state.pin}}</small>
            <small> Ram: {{state.ram}}</small>
            <br>
            <small> Mota: {{state.mota}}</small>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="col-3 mother-box" (click)="file.click()" style="cursor: pointer;">
      <h1>Click vào ảnh để chỉnh sửa</h1>
      <input type="file" (change)="uploadFile($event)" name="file" id="image" #file style="display: none;"
        accept="image/x-png,image/gif,image/jpeg">
      <img [src]="imageUrl" alt="" style="height: 400px;width: 350px;background-size: cover;"
        accept="image/x-png,image/gif,image/jpeg">
      <p>{{ InfoImage.Ten }}</p>

    </div>

  </div>
  <br>
  <div style="text-align: center;">
    <button mat-raised-button color="primary" (click)="CreateOrUpdate()" *ngIf="dataSP.Id == IdNull" class="mr-2 p-2">Thêm</button>
    <button mat-raised-button (click)="CreateOrUpdate()" *ngIf="dataSP.Id != IdNull">Sửa</button>
    <button mat-raised-button color="warn" (click)="Clear()">Xóa</button>
    <button mat-raised-button class="float-right" color="warn" (click)="ClosePopup()">Huy</button>
  </div>
</form>



<style>
  mat-form-field {
    width: 80%;

  }

  .mother-box {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    padding: 10px 20px;
  }

  .example-full-width {
    width: 100%;
  }

  .example-option-img {
    vertical-align: middle;
    margin-right: 8px;
  }

  [dir=' rtl'] .example-option-img {
    margin-right: 0;
    margin-left: 8px;
  }
</style>
