<h2>THÊM/ SỬA / XÓA</h2>
<form autocomplete="off">
  <div class="row">
    <div class="col">
      <mat-form-field *ngIf="false">
        <mat-label>GUID</mat-label>
        <input matInput [(ngModel)]="dataSP.Id" name="id">
      </mat-form-field>
      <mat-form-field >
        <mat-label>Ten</mat-label>
        <input matInput [(ngModel)]="dataSP.Ten" name="Ten">
      </mat-form-field>
      <!-- <mat-form-field>
        <mat-label>Tên Ngắn</mat-label>
        <input matInput [(ngModel)]="dataSP.TenNgan" name="TenNgan">
      </mat-form-field> -->
      <mat-form-field>
        <mat-label>Mô tả</mat-label>
        <input matInput [(ngModel)]="dataSP.MoTa" name="MoTa">
      </mat-form-field>
      <!-- <mat-form-field>
        <mat-label>Rate</mat-label>
        <input matInput [(ngModel)]="dataSP.Rate" name="Rate">
      </mat-form-field> -->
      <!-- <mat-form-field>
        <mat-label>ViewCount</mat-label>
        <input matInput [(ngModel)]="dataSP.ViewCount" name="ViewCount">
      </mat-form-field> -->
      <!-- <mat-form-field>
        <mat-label>Thời gian tạo</mat-label>
        <input matInput [(ngModel)]="dataSP.ThoiGianTao" name="ThoiGianTao">
      </mat-form-field> -->
      <!-- <mat-form-field>
        <mat-label>Thời gian đóng</mat-label>
        <input matInput [(ngModel)]="dataSP.ThoiGianDong" name="ThoiGianDong">
      </mat-form-field> -->
      <mat-form-field>
        <mat-label>SeriesNumber</mat-label>
        <input matInput [(ngModel)]="dataSP.SeriesNumber" name="SeriesNumber">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Color</mat-label>
        <input matInput [(ngModel)]="dataSP.Color" name="Color">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Gia</mat-label>
        <input matInput [(ngModel)]="dataSP.Gia" name="Gia">
      </mat-form-field>
      <!-- <mat-form-field>
        <mat-label>TrangThaiId</mat-label>
        <input matInput [(ngModel)]="dataSP.TrangThaiId" name="TrangThaiId">
      </mat-form-field> -->

      <!-- <mat-form-field>
        <mat-label>NhaCungCapId</mat-label>
        <input matInput [(ngModel)]="dataSP.NhaCungCapId" name="NhaCungCapId">
      </mat-form-field> -->

      <!-- <mat-form-field>
        <mat-label>NguoiNhapId</mat-label>
        <input matInput [(ngModel)]="dataSP.NguoiNhapId" name="NguoiNhapId">
      </mat-form-field> -->
<!--
      <mat-form-field>
        <mat-label>KhoId</mat-label>
        <input matInput [(ngModel)]="dataSP.KhoId" name="KhoId">
      </mat-form-field> -->
      <mat-form-field>
        <mat-label>Loại thiết bị</mat-label>
        <mat-select [(value)]="dataSP.LoaiSPId" (selectionChange)="getLoaiCauHinh(dataSP.LoaiSPId)">
          <ng-container *ngFor="let item of dsLoaiSp">
            <mat-option value="{{item.id}}">{{ item.ten }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>KhuyenMai</mat-label>
        <input matInput [(ngModel)]="dataSP.KhuyenMai" name="KhuyenMai">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Cấu hình</mat-label>
        <mat-select [(value)]="dataSP.CauHinhId">
          <ng-container *ngFor="let item of dsCauHinh">
            <mat-option value="{{item.id}}">{{ item.mota }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <section class="float-left">
        <mat-checkbox [(ngModel)]="dataSP.Active" name="active">Hoạt động</mat-checkbox>
      </section>


      <!-- <mat-form-field>
        <mat-label>Loại từ điển</mat-label>
        <mat-select [(value)]="dataSP.LoaiTuDienId">
          <ng-container *ngFor="let item of dsLoaiTuDien">
            <mat-option value="{{item.id}}">{{ item.ten }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Tên từ điển</mat-label>
        <input matInput [(ngModel)]="dataSP.Ten" name="Ten">
      </mat-form-field>


    </div>
    <div class="col">
      <mat-form-field>
        <mat-label>Ghi chú</mat-label>
        <input matInput [(ngModel)]="dataSP.GhiChu" name="GhiChu">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Tên ngắn</mat-label>
        <input matInput [(ngModel)]="dataSP.TenNgan" name="TenNgan">
      </mat-form-field>
      <mat-form-field style="width: 20%;float: left;">
        <mat-label>Ưu tiên</mat-label>
        <input matInput type="number" [(ngModel)]="dataSP.UuTien" name="UuTien">
      </mat-form-field> -->
    </div>
  </div>
  <br>
  <button mat-raised-button color="primary" (click)="CreateOrUpdate()" *ngIf="dataSP.Id == IdNull">Thêm</button>
  <button mat-raised-button (click)="CreateOrUpdate()" *ngIf="dataSP.Id != IdNull">Sửa</button>
  <button mat-raised-button color="warn" (click)="Clear()">Xóa</button>
  <button mat-raised-button class="float-right" color="warn" (click)="ClosePopup()">Huy</button>
</form>



<style>
  mat-form-field{
    width: 45%;
    margin: auto;
  }
</style>
