
<pre>{{ demo | json}}</pre>
<hr>

<div class="mother-box">
    <div class="top-box row">
            <div class="col-2">
                <img src="../../../../../assets/img/iphone-12-blue-select-2020_61c50b15ba5a43b890177f66acfacb58.webp"
                    alt="" class="anh">
            </div>
            <div class="col-7">
                <div class="row"><h1>iPhone 12 Pro Max Chính Hãng (VN/A) + thoi gian tao</h1></div>
               
                   <p>Hãng săn xuất : .....   Hệ điều hành  : ANDROID</p>
                   <p>Kích thước màn hình: 1 1 asd   Dung lượng RAM : asdasd   Bộ nhớ trong	64 GB</p>
              
            </div>
            <div class="col-3" style="overflow-y: auto;height: 100%;">
                <h1>Kho</h1>
                <h3>- Ram + Rom : Số lượng : 11</h3>
                <h3>- Ram + Rom : Số lượng : 11</h3>
                <h3>- Ram + Rom : Số lượng : 11</h3>
                <h3>- Ram + Rom : Số lượng : 11</h3>
                <h3>- Ram + Rom : Số lượng : 11</h3>

            </div>
    </div>
</div>