
<div class="mother-box">
  <div class="search-box" *ngIf="viewNhap">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Tên sản phẩm</mat-label>
        <input matInput aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let state of filteredStates | async" [value]="state.ten" (click)="ChoseSp(state)">
            <img class="example-option-img" aria-hidden [src]="baseUrl +  state.imageUrl" height="55">
            <small style="color: green;font-size: 18px;">{{state.ten}}</small>
            <span style="color: red;"> - Ram : {{state.ram}}</span>
            <span style="color: rgb(61, 66, 58);"> - Dung Lượng : {{state.rom}}</span>
          </mat-option>

        </mat-autocomplete>
      </mat-form-field>

      <br>
    </form>
  </div>
  <div class="top-box row">
    <div class="col-2">
      <img [src]="dataThemSp.ImageUrl == ''? '/assets/img/emptyImage.png': (baseUrl + dataThemSp.ImageUrl)" alt=""
        class="anh">
    </div>
    <div class="col-6 showSP">

      <h1>
        <p>{{dataThemSp.Ten}} - </p>
      </h1>


      <p>Cpu : {{dataThemSp.Cpu}} - Pin : {{dataThemSp.Pin}}</p>
      <p>Kích thước màn hình: {{dataThemSp.ManHinh}} - Dung lượng RAM : <span style="color: red;">{{dataThemSp.Ram}} </span> - Bộ nhớ trong
        <span style="color: red;"> {{dataThemSp.Rom}}</span></p>
        <div [innerHTML]="dataThemSp.MoTa"></div>
    </div>
    <div class="col-4" style="overflow-y: auto;height: 100%;">
      <h1>Kho</h1>
      <div *ngFor="let item of dsOption" class="choseoption">
        <span>
          <span style="color: indigo;font-size: 16px;">Ram: {{item.ram}} - Dung lượng : {{item.rom}}</span>
          <p style="color: rgb(190, 10, 10);"> Số lượng : {{item.soLuong}}  -  Đơn giá : {{item.gia}} đồng</p>
          <button mat-mini-fab (click)="ChoseOption(item)" style="position: absolute;right: 20px;top: 20%;"><span
              class="material-icons">dns</span></button>

        </span>
      </div>

    </div>
  </div>
  <!-- Box theem option -->


  <div class="row">
    <!-- Option -->

    <div class="col mother-box" style="padding: 30px;">
      <div class="alert alert-secondary" role="alert" *ngIf="dataThemSp.Id == empty">
        Chọn một sản phẩm?
      </div>
      <h2>Nhập sản phẩm</h2>
      <mat-form-field>
        <mat-label>Chọn Ram</mat-label>
        <mat-select [(value)]="dataOptionThem.Ram" name="ram">
          <mat-option *ngFor="let item of dsRam" value="{{item.ram}}">
            {{item.ram}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Chọn dung lượng</mat-label>
        <mat-select [(value)]="dataOptionThem.Rom" name="rom">
          <mat-option *ngFor="let item of dsRom" value="{{item.rom}}">
            {{item.rom}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width: 100px;">
        <mat-label>Số lượng</mat-label>
        <input matInput type="number" [(ngModel)]="dataOptionThem.SoLuong" name="sl">
      </mat-form-field>
      <mat-form-field style="width: 150px;">
        <mat-label>Giá</mat-label>
        <input matInput type="number" [(ngModel)]="dataOptionThem.Gia" name="id">
      </mat-form-field>

      <button mat-mini-fab (click)="HuyThemOption()">
        <mat-icon><span class="material-icons">
            highlight_off
          </span></mat-icon>
      </button>
      <div class="alert alert-success" style="margin: auto;width: 60%;" role="alert" *ngIf="dataOptionThem.Gia != 0 && dataOptionThem.Gia">
        {{dataOptionThem.Gia | doctien}}
      </div>

      <br>
      <button mat-raised-button color="primary" *ngIf="dataOptionThem.Id != empty" (click)="SuaOption()">Sửa option</button>
      <button mat-raised-button color="warn" *ngIf="dataOptionThem.Id != empty">Xóa option</button>
      <button mat-raised-button color="primary" *ngIf="dataOptionThem.Id == empty" (click)="ThemOption()">Thêm
        option</button>
    </div>

    <!-- Màu -->
    <!-- <div class="col-6 mother-box left" style="padding: 30px;">
      <h1>Nhánh màu</h1>
      <button mat-raised-button color="primary">Thêm màu</button>
      <table class="table table-hover nhanh-color">
        <thead>
          <tr>
            <th>Màu</th>
            <th>Số lượng</th>
            <th>Chênh giá</th>
            <th>Ảnh</th>
            <th>Thêm màu</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataNhanhMauSp">
            <td>{{item.color}}</td>
            <td>{{item.soLuong}}</td>
            <td>{{item.chenhGia}}</td>
            <td> <img class="example-option-img" aria-hidden
                [src]=" item.anh != ''? baseUrl +  item.anh:'/assets/img/emptyImage.png'" height="60">
            </td>
            <td><button mat-raised-button color="primary">Số lượng & giá</button></td>
          </tr>
        </tbody>
      </table>
    </div> -->

  </div>
</div>
<div class="content" [innerHTML]="DataBlog.noiDung">

</div>
