.mother{
  background-color: #fdffff;
  border: 1px solid #C1C1CA;
  margin-bottom: 0px;
  padding: 10px !important;
  width: 100%;
}
.item-option{
  padding: 5px;
  cursor: pointer;
  background-color: rgb(221, 224, 224);
  border-bottom: 1px solid rgb(126, 124, 124);
}
.item-option:hover{
  background-color: rgb(193, 196, 195);
}


html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Suffix this section at the end of your styles.css for toogling between @media screen and @media print mode */
/*############################################################################################################*/
.print {
  /* hide the printing component from @media screen */
  display: none;
}

@media print {
  /* invert the display (show/hide) properties of the main */
  /* aplication component and the printing component       */

  .print {
    display: block;
  }

  .TaoHoaDon {
    display: none;
  }
}
