<h1>Danh sách tài khoản</h1>

<br>
<div class="mother-box">
    <div class="row">
        <div class="col-1">
            <button mat-raised-button color="primary" (click)="getPage()">Tìm kiếm</button>
        </div>
        <div class="col-3">
            <mat-form-field style="width: 200px;margin-left: 100px;">
                <mat-label>Tìm kiếm tên, địa chỉ...</mat-label>
                <span matSuffix><span class="material-icons">
                        search
                    </span></span>
                <input matInput [(ngModel)]="searchTT.sSearch" (change)="getPage()">
            </mat-form-field>
        </div>
    </div>
    <br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Cấp trên</th>
                <th scope="col">Loại tỉnh thành</th>
                <th scope="col">Ưu tiên</th>
                <th>Active</th>
                <th>Hành động</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of dsTinhThanh;index as i">
                <th scope="row">{{ i+1 }}</th>
                <td>{{ item.ten}}</td>
                <td>{{ item.moTa }}</td>
                <td>{{ item.parent? item.parent.ten: ''  }}</td>
                <td>{{ item.idLoaiTinhThanh }}</td>
                <td>{{ item.uuTien }}</td>
                <td> <mat-checkbox class="example-margin" [(ngModel)]="item.active"></mat-checkbox></td>
                <td>
                    <button mat-mini-fab color="primary" (click)="OpenDiaLog(item)"><span class="material-icons">
                            create
                        </span></button>
                        <button mat-icon-button color="warn" title="Xóa" [matMenuTriggerFor]="menu"><mat-icon>delete</mat-icon></button>
                        <mat-menu #menu="matMenu">
                          <button mat-button (click)="DeleteById(item.id)">
                            Xác nhận
                          </button>
                        </mat-menu>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row mt-4">
        <div class="col-lg-2">
            <h3>Page: {{ searchTT.pageIndex +1}}</h3>
        </div>
        <div class="col-lg-10">
            <mat-paginator [length]="TotalItem" [pageIndex]="searchTT.pageIndex" [pageSize]="searchTT.pageSize"
                [pageSizeOptions]="[5,10, 20, 50,100]" (page)="getPaginate($event)" showFirstLastButtons>
            </mat-paginator>
        </div>

    </div>
</div>
