<!-- top product -->
<div class="container-fluid" style="background-color: #eeeeee;">
  <div class="container top-selling">

    <div class="top">
      <div class="top-content">
        <strong>
          <h2 style="color: #007bff;">Top sản phẩm mới nhất</h2>
        </strong>
      </div>
      <div class="menu-product" style="text-align: center;font-size: 12px;">
        <span *ngFor="let item of dsMenu" (click)="ChonHang(item.maTuDien)">{{item.ten}}</span>

      </div>
    </div>
    <div class="mid">
      <div class="product-mid">
        <div class="product mr-2" *ngFor="let item of dsTopDienThoai" style="position: relative">
          <div class="product-img" (click)="GoToDetail(item)" style="cursor: pointer;text-align: center;">
            <img [src]="url + item.imageUrl" alt="">
          </div>
          <hr>
          <div class="product-name" (click)="GoToDetail(item)">
            <h3><a class="ten-sp" [routerLink]="'../chitiet'" [queryParams]="{id:item.id}">{{item.ten}}</a></h3>
          </div>
          <span class="gia-sp">{{item.gia
            |tiente}} ₫</span>
          <div class="cauhinh" style="padding: 15px;">


            <span title="CPU"><i style="font-size: medium;cursor: help;" class="fa fa-microchip"
                aria-hidden="true"></i>{{item.cpu}} </span><br><br>
            <span class="ml-2" title="Màn hình"><i style="font-size: medium;cursor: help;" class="fa fa-tablet"
                aria-hidden="true"></i> {{item.manHinh}}" &nbsp;</span>
            <span title="RAM"><i class="fa fa-cogs" style="font-size: medium;cursor: help;"
                aria-hidden="true"></i>{{item.ram | getIndex}} &nbsp;</span>
            <span title="Bộ nhớ"><i class="fa fa-hourglass" style="font-size: medium;margin-left: 4px;cursor: help;"
                aria-hidden="true"></i> {{item.dungLuong | getIndex}}
            </span>

          </div>
          <button type="button" class="btn btn-light" style="position: absolute;bottom: 10px;right: 10px;">
            Lượt xem <span class="badge badge-light">{{item.viewCount}}</span>
            <span class="sr-only">unread messages</span>
          </button>
          <div class="mt-1 product-cart" style="position: absolute;bottom: 20px;left: 10px;">
            <span class="ml-5"> <button mat-raised-button color="warn" (click)="GoToDetail(item)">Mua
                ngay</button></span>

          </div>
        </div>

      </div>

    </div>
    <div class="bottom mt-2" style="text-align: center; "><button class="btn btn-primary ">VIEW ALL</button></div>

    <!-- nhieeuf view -->
    <div class="top">
      <strong>
        <h2 style="color: #007bff;">Sản phẩm bán chạy nhất</h2>
      </strong>
    </div>
    <div class="">
      <div class="box-view">
        <div class="top-view mr-2 hover-b" *ngFor="let item of dsTopDienThoaiNhieuView">
          <div class="row" style="width: 80%; margin: auto; margin-top: 20px; cursor: pointer;">
            <img [src]="url + item.imageUrl" alt="" style="width: 100%;" (click)="GoToDetail(item)">

            <hr>
            <div class="col-12">
              <p><a class="ten-sp mt-3" [routerLink]="'../chitiet'" [queryParams]="{id:item.id}">{{item.ten}}</a></p>
            </div>

            <br>
            <p class="gia-sp">{{item.gia
              |tiente}} ₫</p>

            <div class="cauhinh" style="padding: 10px;">
              <span title="CPU"><i style="font-size: medium;cursor: help;" class="fa fa-microchip"
                  aria-hidden="true"></i>{{item.cpu}} </span><br>
              <span class="ml-2" title="Màn hình"><i style="font-size: medium;cursor: help;" class="fa fa-tablet"
                  aria-hidden="true"></i> {{item.manHinh}}" &nbsp;</span>
              <span title="RAM"><i class="fa fa-cogs" style="font-size: medium;cursor: help;"
                  aria-hidden="true"></i>{{item.ram | getIndex}} &nbsp;</span>
              <span title="Bộ nhớ"><i class="fa fa-hourglass" style="font-size: medium;margin-left: 4px;cursor: help;"
                  aria-hidden="true"></i> {{item.dungLuong | getIndex}}
              </span>

            </div>
            <button type="button" class="btn btn-light mt-2">
              Lượt xem <span class="badge badge-light">{{item.viewCount}}</span>
              <span class="sr-only">unread messages</span>
            </button>
          </div>


        </div>
        <div class="text-center mt-2">
          <button mat-raised-button color="primary" style="outline: none;" (click)="ViewMore()">Xem
            thêm</button>

        </div>
      </div>

    </div>
  </div>
</div>
<!-- end top product -->
