.product-name {
  margin-left: 15px;
}
.product-rate {
  margin-left: 15px;
}
.product-price {
  margin-left: 15px;
}

.product-mid {
  width: 100%;
  position: absolute;
  height: auto;
  display: flex;
}
.product {
  border: white 2px solid;
  cursor: pointer;
}
.hover-b:hover {
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

.hover-b:hover .product-img img {
  transform: scale(1.1);
}

.container1 {
  padding: 100px;
  margin: 0 auto;
  width: 100%;
  height: 400px;
}

.row1 {
  margin-bottom: 40px;
}
.box-view {
    width: 100%;
    height: auto;
    background-color: #eeeeee;

}
.top-view {
    display: inline-block;
    width: 24%;
    height: 400px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: white;

}
.top-view:hover{
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}
.top-view:hover .hang {
    z-index: 1;

}

.top-view .product-img img {
    width: 180px;
    height: 200px;
    margin-left: 35px;
}

.top-view .product-cart {
    margin-top: -24px;
    width: 100%;
}

button{
  outline: none !important;
}



/* heeader */

.header {
  height: 60px;
  background-color: #fafafa;
  display: flex;
}

.header div {
  width: 33%;
  margin: auto;
  color: #999;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.header div span {
  margin: 10px;
}

.header div span i {
  margin: 4px;
  color: lightblue;
}

.header div a {
  margin: 10px;
  color: #999;
  font-weight: 500;
  text-decoration: none;
}

.hang {
  z-index: -1;
}


/* nav */

.nav {
  margin-top: 20px;
  height: 80px;
  display: flex;
}

.nav div {
  margin: auto;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  display: inline-block;
}

.nav .nav-left {
  width: 16%;
}

.nav .nav-left img {
  margin: auto;
}

.nav .nav-mid {
  width: 50%;
}

.nav .nav-right {
  width: 30%;
}

.nav ul {}

.nav ul li {
  display: inline-block;
}

.nav ul li .btn-info {
  height: 80px;
  border: none;
  font-size: 14px;
  /* border-radius: 5px 5px 0 0; */
  background-color: #fff;
  color: black;
  outline: none;
  font-weight: 500;
}

.nav ul li .btn-info:hover {
  border-radius: 5px 5px 0 0;
  background-color: #00f2bc;
  color: #fff;
}

.active {
  border-radius: 5px 5px 0 0;
}

.nav-right .cart {
  padding: 12px 20px;
  background-color: #fafafa;
  border-radius: 5px;
}

.nav-right .cart i {
  font-size: 16px;
}


/* section */

.section {
  display: flex;
}

.carousel-item {
  position: relative;
}

.carousel-item .btn-primary {
  position: absolute;
  top: 80%;
  left: 10%;
}


/* menu category */

.section .section-left {
  width: 23%;
  display: flex;
  flex-direction: column;
  height: 750px;
}

.section .section-left .list-group {
  border-radius: 10px 10px 0 0;
  height: 100%;
  box-shadow: 0 2px 16px rgba(0, 0, 0, .06);
}

.banner3 {
  margin-top: 10px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, .06);
}

.list-group a {
  line-height: 10px;
  border: none;
}

.list-group a:hover {}

.section .section-left div {
  height: 50%;
}

.section .section-mid {
  display: flex;
  flex-direction: column;
  width: 77%;
  height: 750px;
}

.section .section-mid .top {
  display: flex;
  height: 65%;
}

.section .section-mid .top div {
  margin: 4px;
}

.section .section-mid .top .top-img {
  width: auto;
}

.section .section-mid .top .top-img img {}

.section .section-mid .top .top-right {
  display: flex;
  flex-direction: column;
  width: 35%;
  box-sizing: border-box;
}

.top-right img {
  border: 2px #fff solid;
  transition: 0.4s linear;
}

.top-right img:hover {
  border: 2px rgb(0, 154, 255) solid;
}

.section .section-mid .bottom {
  display: flex;
  height: 35%;
}

.section .section-mid .bottom div {
  border: 2px rgb(190, 182, 182) solid;
  width: 350px;
  height: 100%;
  margin-left: 20px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.4s;
}

.bottom div ul {
  padding: 10px;
}

.bottom div ul li {
  list-style-type: none;
}

.bottom div ul li a {
  font-size: 12px;
  text-decoration: none;
  color: #000;
}

.bottom div ul li a:hover {
  color: rgb(0, 154, 255);
}

.section .section-mid .bottom div:hover {
  border: 2px rgb(0, 154, 255) solid;
}

.bg1 {
  background-image: url(../../../../../assets//img/bg_category1.png);
}

.bg2 {
  background-image: url(../../../../../assets//img/bg_category2.png);
}

.bg3 {
  background-image: url(../../../../../assets//img/bg_category3.png);
}


/* product */

.top-selling {}

.top-selling .top {
  display: flex;
  height: 50px;
}

.menu-product span {
  margin: 10px;
  font-size: 13px;
  cursor: pointer;
  text-decoration: none;
  color: rgb(0, 14, 145);
  font-weight: 500;
}
.menu-product span:hover{
  color: red;
}
.top-selling .top div {
  width: 33%;
  margin: auto;
  /* text-align: center; */
}
.top-selling .top .menu-product {
  width: 60%;
  margin: auto;
  /* text-align: center; */
}
.top-selling .top .angle-repon {
  width: 7%;
  margin: auto;
  /* text-align: center; */
}

.top-selling .mid {
  position: relative;
  height: 450px;
  background-color: #f5f5f5;
  overflow: hidden;
  width: auto;
}

.top-selling .mid .product {
  width: 25%;
  max-width: 270px;
}


/* show product */

.product {
  width: 24%;
  min-width: 250px;
  height: 450px;
  margin: auto;
  border-radius: 10px;
  background-color: white;
  padding: 3px;
}

.product:hover .hang {
  z-index: 1;
}

.product .product-img img {
  width: 200px;
  height: 220px;
  margin-left: 35px;
}

.product .product-cart {
  margin-top: -24px;
  position: absolute;
  width: 100%;
}

.top-selling .bottom {
  height: 50px;
  background-color: #f5f5f5;
}


/* DEAL */

.deal-week .caption {
  /* font-family: 'Lato', sans-serif; */
  position: relative;
  display: grid;
  height: 100%;
  width: 100%;
  margin: 20px auto;
  border-radius: 8px;
  background-color: #fff;
}

.deal-week .caption .img-product img {
  width: 100%;
}

.deal-week .caption .next-color {
  margin-left: 17px;
}

.deal-week .caption .next-color .box-img {
  display: flex;
  height: 50px;
  width: 240px;
}

.deal-week .caption .next-color img {
  width: 53px;
  height: 46px;
  border: 2px #999 solid;
  border-radius: 5px;
}

.product-block .btn-group button {
  border-radius: 5px;
}

.product-block .time .time-block {
  width: 45px;
  height: 45px;
  border: rgb(170, 167, 166) 2px solid;
  border-radius: 5px;
  background: none;
  font-weight: 500;
}

.product-deal {
  width: 50%;
  min-width: 500px;
}

.product-block button {
  font-size: 80%;
}


/* NEW ARRIVALS */


/* end NEW ARRIVALS */


/* blog */

.blog-block {

}

.blog-block .blog-left {
  /* height: 450px; */
}

.blog-block .blog-right {
  border: 2px black solid;
  border-radius: 10px;
}


/* end blog */


/* near fotter */

.near-footer {
  border: 2px black solid;
}

.near-footer .slider-block {
  position: relative;
  width: 100%;
  height: 120px;
  padding: 20px;
  overflow: hidden;
}

.near-footer .slider-block .slider {
  position: absolute;
  display: flex;
}

.near-footer .slider-block .slider div {
  margin: auto;
}

.btn-group-next button {
  position: absolute;
  z-index: 1000;
}

.btn-group-next .next {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.btn-group-next .prev {
  top: 50%;
  transform: translateY(-50%);
}


/* FOOTER */

.footer {
  background-color: #e5e5e5;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer ul li {
  line-height: 1.9;
  font-size: 80%
}

.footer ul li a {
  color: black;
  display: block;
  font-size: 13px;
  text-decoration: none;
  transition: 0.6s;
}

.footer ul li a:hover {
  margin-left: 10px;
}


/* reponsive */

@media only screen and (max-width: 1200px) {
  .header .mid-header {
      display: none;
  }
  .header div {
      width: 50%;
  }
  .nav ul li .btn-info {
      height: 80px;
      font-size: 90%;
  }
  .top-selling .mid {
      /* flex-direction: column; */
      /* height: 50%; */
  }
  .product {
      width: 30%;
      margin-top: 10px;
  }
}

@media only screen and (max-width: 1008px) {
  .nav ul li .btn-info {
      height: 80px;
      font-size: 80%;
  }
}

@media only screen and (max-width: 997px) {
  .nav ul li .btn-info {
      display: none;
  }
  .header {
      display: none;
  }
  .blog-block {
      margin-top: 200px;
  }
  .banner3 {
      display: none;
  }
}

@media only screen and (max-width: 880px) {
  .banner3 {
      display: none;
  }
  .section .section-mid {
      display: none;
  }
  .section .section-mid .top {
      display: none;
  }
  .section .section-left {
      width: 100%;
      height: 400px;
  }
  .angle-repon {
      /* display: none; */
  }
  .top-selling .top .top-content {
      width: 100%;
  }
  .menu-product {
      display: none;
  }
}

@media only screen and (max-width: 880px) {
  .banner3 {
      display: none;
  }
  .section .section-mid {
      display: none;
  }
  .section .section-mid .top {
      display: none;
  }
  .section .section-left {
      width: 100%;
      height: 400px;
  }
  .angle-repon {
      /* display: none; */
  }
  .top-selling .top .top-content {
      width: 100%;
  }
  .menu-product {
      display: none;
  }
}


/* mobie */

@media only screen and (max-width: 500px) {
  .deal-week .caption .img-product {
      width: 50%;
  }
  .product-block .name {
      font-size: 100%;
  }
  .description {
      display: inline-block;
      width: 320px;
  }
}


/* rating */

.symbol {
  display: inline-block;
  border-radius: 50%;
  border: 5px double white;
  width: 30px;
  height: 30px;
}

.symbol-empty {
  background-color: #ccc;
}

.symbol-filled {
  background-color: black;
}
