<app-navbar></app-navbar>
<div class="wrapper d-flex align-items-stretch" >
	<nav id="sidebar">
		<div class="custom-menu">
			<button type="button" id="sidebarCollapse" class="btn btn-primary">
				<i class="fa fa-bars"></i>
				<span class="sr-only">Toggle Menu</span>
			</button>
		</div>
		<div class="p-4" style="position: sticky;top: 0;">
			<h1><a  class="logo">Quản lý shop <span>NBC</span></a></h1>
			<ul class="list-unstyled components mb-5">
        <ng-material-multilevel-menu [configuration]="config" [items]="dataMenu" (selectedItem)="selectedItem($event)">
        </ng-material-multilevel-menu>
			</ul>

			<div class="mb-5">
				<h3 class="h6 mb-3">CuongNB</h3>
				<form action="#" class="subscribe-form">
					<div class="form-group d-flex">
						<div class="icon"><span class="icon-paper-plane"></span></div>
						<input type="text" class="form-control" placeholder="Enter Email Address">
					</div>
				</form>
			</div>

			<div class="footer">
				<p>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;
					<script>document.write(new Date().getFullYear());</script> CuongNB <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
						target="_blank">Colorlib.com</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</p>
			</div>

		</div>
	</nav>

	<!-- Page Content  -->
	<div id="content" class="pl-5 mt-2" style="width: 100%;">
		<router-outlet></router-outlet>
	</div>

	<div style="position: fixed;bottom: 90px;right: 50px;" *ngIf="showScrollTop"><button mat-mini-fab (click)="ScrollTop()" color="primary"><span class="material-icons">
		publish
		</span></button></div>
</div>
