<app-navbar></app-navbar>
<div class="wrapper d-flex align-items-stretch">
	<nav id="sidebar">
		<div class="custom-menu">
			<button type="button" id="sidebarCollapse" class="btn btn-primary">
				<i class="fa fa-bars"></i>
				<span class="sr-only">Toggle Menu</span>
			</button>
		</div>
		<div class="p-4">
			<h1><a href="index.html" class="logo">Portfolic <span>Portfolio Agency</span></a></h1>
			<ul class="list-unstyled components mb-5">
				<li *ngFor="let item of dataMenu">
					<a routerLinkActive="active" [routerLink]="item.menu.controller == ''?item.menu.link:item.menu.controller + '/' + item.menu.link "> <span class="material-icons">{{item.menu.icon == '' ? 'send':item.menu.icon}}</span> -  {{ item.menu.ten }}</a>
				</li>
			</ul>

			<div class="mb-5">
				<h3 class="h6 mb-3">Subscribe for newsletter</h3>
				<form action="#" class="subscribe-form">
					<div class="form-group d-flex">
						<div class="icon"><span class="icon-paper-plane"></span></div>
						<input type="text" class="form-control" placeholder="Enter Email Address">
					</div>
				</form>
			</div>

			<div class="footer">
				<p>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;
					<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is
					made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
						target="_blank">Colorlib.com</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</p>
			</div>

		</div>
	</nav>

	<!-- Page Content  -->
	<div id="content" class="p-4 p-md-5 pt-5">
		<router-outlet></router-outlet>
	</div>
</div>
