<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="panel panel-primary">
  <div class="panel-heading">
    <span class="glyphicon glyphicon-comment"></span> Chat
    <div class="btn-group pull-right">
    </div>
  </div>
  <div class="panel-body" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <ul class="chat" *ngFor="let item of DSTinNhan">
      <!-- ADMIN -->
      <li class="left clearfix" *ngIf="!item.active">
        <span class="chat-img pull-left">
          <img src="http://placehold.it/50/55C1E7/fff&text=ADMIN" alt="User Avatar" class="img-circle" />
        </span>
        <div class="chat-body clearfix">
          <div class="header">
            <strong class="primary-font mr-3">Admin</strong> <small class="pull-right text-muted">
              <span class="glyphicon glyphicon-time"></span>{{item.thoiGianTao| demgio}}</small>
          </div>
          <p>
            {{item.noiDung}}
          </p>
        </div>
      </li>
      <!-- ADMIN -->

      <!-- ME -->
      <li class="right clearfix" *ngIf="item.active">
        <span class="chat-img pull-right">
          <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
        </span>
        <div class="chat-body clearfix">
          <div class="header">
            <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>{{item.thoiGianTao|
              demgio}}</small>
            <strong class="pull-right primary-font ml-3">Bạn &nbsp;</strong>
            <i *ngIf="item.noiDung !='Đã thu hồi'" class="fa fa-chevron-right" style="color: red;cursor: pointer;margin-top: 3px;" aria-hidden="true" (click)="Delete(item.id)"> thu hồi</i>
          </div>
          <p>
            {{item.noiDung}}
          </p>
        </div>
        <!-- dropdown -->

        <!-- dropdown -->

      </li>
      <!-- ME -->
    </ul>
  </div>
  <div class="panel-footer">
    <div class="input-group">
      <input id="btn-input" type="text" class="form-control input-sm" [(ngModel)]="NoiDung" name="NoiDung" (keyup)="Enter($event.keyCode)"
        placeholder="Type your message here..." />
      <span class="input-group-btn">
        <button class="btn btn-warning btn-sm" id="btn-chat" (click)="Sent()">
          Send</button>
      </span>
    </div>
  </div>
</div>
