<div class="container mb-4">
  <section class=" text-center">
    <div class="float-right" *ngIf="checkView">
      <a routerLink="../lichsu"><button mat-raised-button color="warn" style="padding: 10px 20px;">Trở về</button></a>
    </div>
  </section>
  <div>
    <h1>{{TenTrangThai}}</h1>
  </div>
  <div class="row" *ngIf="check">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped" >
          <thead>
            <tr>
              <th scope="col"> </th>
              <th scope="col">Product</th>
              <th scope="col">Available</th>
              <th scope="col" class="text-center">Quantity</th>
              <th scope="col" class="text-right">Price</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dataCartDetail">
              <td><img style="width: 40px;" [src]="url + item.anh" /> </td>
              <td>{{item.tenSp}}</td>
              <td>{{item.cauHinh}}</td>
              <td>
                <button mat-mini-fab class="float-left"  (click)="GiamSL(item)">-</button>
                <input class="form-control float-left" [disabled]="dataCart.TrangThai !='DangGiaoDich'" style="width: 80px;text-align: center;" [value]="item.soLuong" (keyup)="ChangeSL($event.target.value, item)"/>
                <button mat-mini-fab class="float-left" color="primary"  (click)="UpSL(item)">+</button>

              </td>
              <td class="text-right">{{item.gia | tiente}}</td>
              <td class="text-right"><button class="btn btn-sm btn-danger"

                mwlConfirmationPopover
                confirmButtonType="danger"
                popoverMessage="Bạn chắc chắn muốn xóa?"
                placement="left"
                (confirm)="Delete(item.idCartDetail)"
                ><i class="fa fa-trash"></i> </button> </td>
            </tr>

            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Sub-Total</td>
              <td class="text-right">{{total | tiente}} đồng</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Shipping</td>
              <td class="text-right">0</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><strong>Total</strong></td>
              <td class="text-right"><strong>{{total | tiente}} đồng</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

     <div class="col mb-2">

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="exampleFormControlTextarea2">Địa chỉ giao hàng <span style="color: red;"> (*)</span></label>
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" [(ngModel)]="dataCart.DiaChi" name="aaa"></textarea>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="exampleFormControlTextarea2">Ghi chú cho người bán</label>
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" [(ngModel)]="dataCart.TinNhan" name="aa"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="exampleFormControlTextarea2">Họ tên <span style="color: red;"> (*)</span> </label>
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"  [(ngModel)]="dataCart.HoTen" name="hoten"></textarea>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="exampleFormControlTextarea2">Điện thoại liên lạc <span style="color: red;"> (*)</span></label>
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" [(ngModel)]="dataCart.Sdt" name="sdt1"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="exampleFormControlTextarea2">Địa chỉ email</label>
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"  [(ngModel)]="dataCart.Email" name="emaila"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12  col-md-6">
          <a class="btn btn-block btn-light" routerLink="../">Tiếp tục mua hàng</a>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
          <button class="btn btn-lg btn-block btn-success text-uppercase" (click)="DatHang()">Đặt hàng</button>
          <button class="btn btn-lg btn-block btn-danger text-uppercase" *ngIf="dataCart.TrangThai == 'DaDatHang'" (click)="HuyDon()">Hủy đơn</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!check">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body cart">
                <div class="col-sm-12 empty-cart-cls text-center"> <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                    <h3><strong>Your Cart is Empty</strong></h3>
                    <h4>Add something to make me happy :)</h4> <a href="#" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
