<div class="container mb-4">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">E-COMMERCE CART</h1>
    </div>
  </section>
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"> </th>
              <th scope="col">Product</th>
              <th scope="col">Available</th>
              <th scope="col" class="text-center">Quantity</th>
              <th scope="col" class="text-right">Price</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dataCartDetail">
              <td><img style="width: 40px;" [src]="url + item.anh" /> </td>
              <td>{{item.tenSp}}</td>
              <td>{{item.cauHinh}}</td>
              <td><input class="form-control" style="width: 120px;text-align: center;" type="number" [value]="item.soLuong" /></td>
              <td class="text-right">{{item.gia | tiente}}</td>
              <td class="text-right"><button class="btn btn-sm btn-danger" (click)="Delete(item.idCartDetail)"><i class="fa fa-trash"></i> </button> </td>
            </tr>

            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Sub-Total</td>
              <td class="text-right">{{total | tiente}} đồng</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Shipping</td>
              <td class="text-right">0</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><strong>Total</strong></td>
              <td class="text-right"><strong>{{total | tiente}} đồng</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col mb-2">
      <div class="row">
        <div class="col-sm-12  col-md-6">
          <a class="btn btn-block btn-light" routerLink="../">Continue Shopping</a>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
          <button class="btn btn-lg btn-block btn-success text-uppercase">Checkout</button>
        </div>
      </div>
    </div>
  </div>
</div>
