<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="container ">
  <!-- product -->
  <div class="product-content product-wrap clearfix product-deatil" *ngFor="let item of SanPham">
    <div class="row">
      <div class="col-md-5 col-sm-12 col-xs-12">
        <div class="product-image">
          <div id="myCarousel-2" class="carousel slide">

            <div class="carousel-inner">
              <!-- Slide 1 -->
              <div class="item active">
                <img [src]="url + item.imageUrl" class="img-responsive" alt="" />
              </div>

            </div>
            <a class="left carousel-control" href="#myCarousel-2" data-slide="prev"> <span
                class="glyphicon glyphicon-chevron-left"></span> </a>
            <a class="right carousel-control" href="#myCarousel-2" data-slide="next"> <span
                class="glyphicon glyphicon-chevron-right"></span> </a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-md-offset-1 col-sm-12 col-xs-12">
        <h2 class="name">
          {{item.ten}}
          <small>Product by <a href="javascript:void(0);">{{item.loaisp}}</a></small>
          <i class="fa fa-star fa-2x text-primary"></i>
          <i class="fa fa-star fa-2x text-primary"></i>
          <i class="fa fa-star fa-2x text-primary"></i>
          <i class="fa fa-star fa-2x text-primary"></i>
          <i class="fa fa-star fa-2x text-muted"></i>
          <span class="fa fa-2x">
            <h5> {{item.rate}}</h5>
          </span> -
          <a href="javascript:void(0);">{{item.viewCount}} lượt xem</a>
        </h2>
        <hr />
        <h3 class="price-container" style="color: rgb(56, 1, 58);font-size: 30px;">
          {{item.option.length>0?DataCartDetail.Gia:item.giaMacDinh | tiente}} <small> Đồng</small>
        </h3>
        <div class="certified">
          <ul>
            <li *ngFor="let a of item.option" (click)="ChonOption(a)" style="cursor: pointer;"
              [ngClass]="{'chose': a.id == DataCartDetail.OptionId,'hethang': a.soLuong == 0}">
              <a>{{a.ram}}<span>{{a.rom}}</span></a>
            </li>

          </ul>
        </div>
        <div class="quantity">
          <button mat-fab color="warn"
            (click)="DataCartDetail.SoLuong =DataCartDetail.SoLuong ==1?1: DataCartDetail.SoLuong -1">-1</button>
          <mat-form-field style="width: 130px;text-align: center;color: red;font-size: 16px;">
            <mat-label>Input</mat-label>
            <input matInput [(ngModel)]="DataCartDetail.SoLuong">
          </mat-form-field>
          <button mat-fab (click)="DataCartDetail.SoLuong = DataCartDetail.SoLuong +1" color="primary">+1</button>

          <br>
          <span>Kho - {{SoLuongKho}}</span>
          <h2>{{currentOption}}</h2>
        </div>
        <hr />

        <hr />
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <button mat-raised-button color="accent" style="padding: 10px 40px;" (click)="AddToCart()">Thêm vào giỏ hàng</button>
          </div>
        </div>
      </div>

      <div class="mota mt-2">
        <span style="text-align: justify;">{{SanPham[0].cauHinh.mota}}</span>
      </div>
    </div>
    <br>
    <div>
      <span>Hàng chính hãng - bảo hành 12 Tháng</span>
      <span>Giao hàng toàn quốc.</span>
    </div>
  </div>
  <hr>
  <!-- end product -->
</div>
<div class="container">
  <div class="zone-blog">
    <div class="row">
      <div class="col-lg-8 col-sm-6">
        blog
      </div>


      <div class="col-lg-4 col-sm-6">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              
              <th scope="col" style="text-align: center;" colspan="2"><b style="font-size: 15pt;">Thông số kỹ thuật</b></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Màn hình</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>Camera </td>
              <td>RAM </td>
            </tr>
            <tr>
              <td>RAM </td>
              <td> </td>
            </tr>
            <tr>
              <td>Bộ nhớ trong</td>
              <td></td>
            </tr>
            <tr>
              <td>CPU</td>
              <td></td>
            </tr>
            <tr>
              <td>Dung lượng pin</td>
              <td></td>
            </tr>
            <tr>
              <td>Hệ điều hành</td>
              <td></td>
            </tr>

            <tr>
              <td>Xuất xứ</td>
              <td></td>
            </tr>
            <tr>
              <td>Thời gian bảo hành</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>