<div class="row">
  <div class="col-8">
    <h1>Menu</h1>
    <mat-list>
      <mat-list-item *ngFor="let item of dataMenu" style="position: relative;"><span>{{ item.ten }}</span><button
          style="position: absolute;right: 0;" mat-button (click)="ThemRoleMenu(item.id)">
          <span class="material-icons">label</span></button>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="col-4">
    <h1>Role</h1>
    <mat-list>
      <mat-list-item *ngFor="let item of dataRoleMenu" style="position: relative;"><span>{{ item.menu.ten + ': ' +
          item.menu.controller + '/' + item.menu.link}}</span><span><button mat-button color="warn"
            (click)="XoaRoleMenu(item.id)"><span class="material-icons">
              highlight_off
            </span></button></span></mat-list-item>
    </mat-list>
  </div>
</div>
