<div class="row">
  <div class="col-8">
    <h2><a mat-button routerLink="../../role">Back</a></h2>
    <h1>Menu</h1>
    <h2><a mat-button routerLink="../../menu">Thêm</a></h2>
    <mat-list>
      <mat-list-item *ngFor="let item of dataMenu" style="position: relative;">
        <span *ngIf="!item.cha"><b>{{ item.ten }}</b></span>
        <span *ngIf="item.cha">{{ item.ten }}</span>
        <button
          style="position: absolute;right: 0;" mat-button (click)="ThemRoleMenu(item.id)" color="primary">
          <span class="material-icons">label</span></button>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="col-4">
    <h1>Role</h1>

    <div *ngFor="let item of dataRoleMenu">
      <p><b>{{item.label}}</b> <span class="material-icons" style="color: red;cursor: pointer;"
        (click)="XoaRoleMenu(item.id)">
        close
      </span></p>
      <div style="margin-left: 30px;" *ngFor="let item2 of item.items">
        <p>{{item2.label}} <span class="material-icons" style="color: red;cursor: pointer;"
            (click)="XoaRoleMenu(item2.id)">
            close
          </span></p>
      </div>
    </div>



  </div>
</div>
<pre>{{dataMenu|json}}</pre>
