    <!-- Blog -->


    <div class="container mt-5 blog-block">
        <div class="row">

            <div class="col-lg-8 blog-left">
                <h5>RECENT BLOGS</h5>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <img src="/assets/img/product/blog-01-825x504.jpg" class="w-100" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                        <p><span>20/2/1998</span> <span>10 Commnents</span> <span>Admin</span></p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam sit adipisci, culpa iusto
                            fugiat ea veritatis alias aut aliquid earum eaque nulla dignissimos ad, officia a non
                            voluptatibus autem. Ipsum?</p>

                    </div>
                    <div class="col-md-6">
                        <img src="/assets/img/product/blog-07-825x504.jpg" class="w-100" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                        <p><span>20/2/1998</span> <span>10 Commnents</span> <span>Admin</span></p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam sit adipisci, culpa iusto
                            fugiat ea veritatis alias aut aliquid earum eaque nulla dignissimos ad, officia a non
                            voluptatibus autem. Ipsum?</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h5>TESTIMONIALS</h5>
                <div class=" blog-right h-100">
                    <div class="avatar text-center mt-2"><img src="/assets/img/product/testi-01.jpg"
                            style="width: 130px;" class="rounded-circle" alt="Cinque Terre"></div>
                    <div class="name mt-2 text-center">Mr.Jony - CEO</div>
                    <div class="text mt-3">
                        <p class="text-center">Pellentesque habitant morbi tristique senectus et netus et malesuada
                            fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget. The point of
                            using Lorem Ipsum.</p>
                    </div>
                    <div class="slider-btn text-center mt-5"><button class="btn btn-info">..</button></div>
                </div>
            </div>
        </div>


    </div>
    <!-- end blog -->
    <!-- near-footer -->
    <div class="container near-footer mt-5">
        <div class="slider-block">
            <div class="btn-group-next">
                <button class="btn btn-outline-primary prev"><i class="fa fa-angle-left "></i></button>
                <button class="btn btn-outline-primary next"><i class="fa fa-angle-right"></i></button>

            </div>
            <div class="slider">
                <div class="item"><img src="/assets/img/New folder/brand1.png" alt=""></div>
                <div class="item"><img src="/assets/img/New folder/brand3.png" alt=""></div>
                <div class="item"><img src="/assets/img/New folder/brand4.png" alt=""></div>
                <div class="item"><img src="/assets/img/New folder/brand5.png" alt=""></div>
                <div class="item"><img src="/assets/img/New folder/brand6.png" alt=""></div>
                <div class="item"><img src="/assets/img/New folder/brand4.png" alt=""></div>
            </div>
        </div>
    </div>
    <!--end near-footer -->
