<div class="container-fluid mt-5 footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 mt-3">
                <ul>
                    <li><b> ABOUT US</b></li>
                    <li><img src="https://hanoicomputercdn.com/media/lib/logo-trang.png" style="width: 140px;" alt=""></li>
                    <li>Store Address</li>
                    <li>8 W. Fawn Dr. Moorhead, MN 56560 View map</li>
                    <li>(+084) 123 456 789</li>
                    <li>loo_me@yahoo.com</li>
                </ul>
            </div>
            <div class="col-sm-2  mt-3">
                <ul>
                    <li><b> CATEGORIES</b></li>
                    <li>
                        <a href="">Mobile</a>
                        <a href="">Headphone</a>
                        <a href="">Laptop</a>
                        <a href="">New Arrivals</a>
                        <a href="">All Categories</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2  mt-3">
                <ul>
                    <li><b> INFOMATION</b></li>
                    <li>
                        <a href="">About Us</a>
                        <a href="">Brands</a>
                        <a href="">Gift Vouchers</a>
                        <a href="">Site Map</a>
                        <a href="">Accessories</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2  mt-3">
                <ul>
                    <li><b> INFOMATION</b></li>
                    <li>
                        <a href="">About Us</a>
                        <a href="">Brands</a>
                        <a href="">Gift Vouchers</a>
                        <a href="">Site Map</a>
                        <a href="">Accessories</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3  mt-3">
                <ul>
                    <li><b>SUBSCRIBE TO OUR NEWSLETTER</b></li>
                    <li style="font-size: 12px;">Please enter email address to create or update</li>
                    <li style="font-size: 12px;">your profile and manage your subscriptions:</li>
                    <li>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Your email*">
                            <div class="input-group-append">
                                <button class="btn btn-success" type="submit">Go</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <div class="row  mt-4">
            <div class="col-md-6">
                <p><b>DOWNLOAD THE APP</b></p>
                <p style="font-size: 15px;">Get access to all exclusive offers, discounts and deals by downloading
                    Cena App !</p>
            </div>
            <div class="col-md-6">
                <br>
                <p><span><img src="/assets/img/New folder/app.png" alt=""></span></p>
            </div>

        </div>


    </div>
</div>
<div class="container-fluid" style="background-color: #c5c0c0;">
    <div class="container">
        <div class="row  p-3 m-auto">
            <div class="col-md-6">
                <p>© 2020 CenaStore. Designed by Thembay. All Rights Reserved.</p>
            </div>
            <div class="col-md-6 text-right"><img src="/assets/img/New folder/payments.png" alt=""></div>
        </div>
    </div>
</div>
