<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
      <h3>Welcome</h3>
      <p>Cảm ơn bạn đã tin tưởng và quan tâm</p>
      <a routerLink="../shop/dangnhap"><button class="btn btn-info">Đăng nhập</button></a>
    </div>
    <div class="col-md-9 register-right">

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h3 class="register-heading">Đăng ký tài khoản</h3>
          <div class="row register-form">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Họ tên" value="" [(ngModel)]="dataUser.HoTen"
                  name="HoTen" />
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Tài khoản" value="" [(ngModel)]="dataUser.Username"
                  name="Username" />
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password *" value=""
                  [(ngModel)]="dataUser.Password" name="Password" />
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password *" value=""
                  [(ngModel)]="PasswordCheck" name="PasswordCheck" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Your Email *" value=""
                  [(ngModel)]="dataUser.Email" name="email" />
              </div>
              <div class="form-group">
                <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control"
                  [(ngModel)]="dataUser.SoDienThoai" name="SoDienThoai" placeholder="Điện thoại" />
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Lời giới thiệu" value=""
                  [(ngModel)]="dataUser.GioiThieu" name="GioiThieu" />
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Địa chỉ" value=""
                  [(ngModel)]="dataUser.DiaChi" name="DiaChi" />
              </div>
              <div class="form-group">
                <input type="date" class="form-control" placeholder="Ngày sinh" value=""
                  [(ngModel)]="dataUser.NgaySinh" name="date" />
              </div>
              <input type="submit" class="btnRegister" value="Đăng ký" (click)="Dangky()"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

