<!-- DEAL OF THIS WEEK -->
<div class="container-fluid" style="background-color: #f0f0f0 !important;">

    <div class="container deal-week">
        <div class="row">
            <div class="col-md-6  ">
                <div class="menu-product">
                    <h2>DEAL OF THIS WEEK</h2>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xl-6 mt-3" *ngFor="let item of dsDienThoai">
                <div class="caption">
                    <div class="row product-deal ">
                        <div class="col-md-6">
                            <div class="img-product" (click)="GoToDetail(item)" style="cursor: pointer;">
                                <img src="{{url + item.imageUrl}}" class="w-100 ml-3 mt-3" style="height: 260px;"
                                    alt="">
                            </div>
                            <hr>

                        </div>
                        <div class="col-md-6 product-block">
                            <h3 class="name mt-5" style="color: green;font-size: 20px;" (click)="GoToDetail(item)" style="cursor: pointer;">{{item.ten}}</h3>
                            <div class="rating">Rate</div>
                            <div class="price"><a href="">{{item.giaMacDinh | tiente}} đồng</a></div>
                            <div class="description mt-2 h-47">{{item.moTa | substr:200}}
                            </div>
                            <div class="btn-group mt-4">
                                <button mat-raised-button color="primary"><span
                                        class="material-icons">shopping_cart</span>Add to cart</button>
                                <button mat-mini-fab color="accent"><span class="material-icons">
                                        thumb_up_off_alt
                                    </span></button>
                                <button mat-mini-fab color="warn"><span class="material-icons">
                                        favorite_border
                                    </span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--end one deal -->
        </div>
        <div class="text-center mt-5">

            <button mat-raised-button color="primary" style="outline: none;" (click)="ViewMore()">Xem thêm</button>

        </div>
    </div>
</div>
<!-- end deal -->
<!-- NEW ARRIVALS -->
<div class="container-fluid" style="background-color: #fafafa;">
    <div class="container new-arrivals mt-3 ">
        <div class="product-new">
            <div class="row">
                <div class="w-50 ml-4">
                    <h5>NEW ARRIVALS</h5>
                </div>
                <div class="w-40 text-right">
                    <div>
                        <button class="btn btn-outline-primary"><i class="fa fa-angle-left"></i></button>
                        <button class="btn btn-outline-primary"><i class="fa fa-angle-right"></i></button>
                    </div>
                </div>
            </div>
            <!-- one product -->
            <div class="mt-4 parent">
                <div *ngFor="let item of dsDienThoai" class="child">

                    <div class="row">


                        <div class="col-md-4">
                            <img [src]="url + item.imageUrl" alt="" (click)="GoToDetail(item)">
                        </div>


                        <div class="col-md-8 bg-white" style="border-radius: 10px;">
                            <div style="position: absolute;right: 30px;top: 40px;">
                                <mat-icon matBadge="{{item.rate}}" color="warn" style="font-size: 33px;">favorite</mat-icon>
                                <span class="cdk-visually-hidden">

                                </span>
                            </div>
                            <br>
                            <h3 style="color: green;font-size: 28px;" (click)="GoToDetail(item)">{{item.ten}}</h3>

                            <p style="color: red;font-size: 26px;">{{item.giaMacDinh | tiente}} đồng</p>
                            <p>{{item.moTa | substr:600}}</p>
                            <div class="btn-group">
                                <button mat-raised-button color="primary"><span
                                        class="material-icons">shopping_cart</span>Add to cart</button>
                                <button mat-mini-fab color="accent"><span class="material-icons">
                                        thumb_up_off_alt
                                    </span></button>
                                <button mat-mini-fab color="warn"><span class="material-icons">
                                        favorite_border
                                    </span></button>
                            </div>
                            <br>
                            <br>
                            <p style="font-size: 16px;color: rgb(235, 5, 120);">22.429 lượt xem</p>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <!--end one product -->



        </div>





    </div>
</div>
<!-- end NEW ARRIVALS -->
