<div class="row">
  <div class="col-8">
    <h1>Báo cáo doanh thu năm {{ParamsBaoCaoTheoThang.Nam}}</h1>
    <div style="display: block;">
      <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
      <div class="alert alert-primary text-center m-auto" style="width: 500px;" role="alert">
        Biểu đồ doanh thu theo năm
      </div>
    </div>

  </div>
  <div class="col-4">
    <h1>Tổng hợp trạng thái đơn hàng</h1>
    <div style="display: block;">
      <canvas baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend">
      </canvas>
    </div>
    <div class="alert alert-primary text-center m-auto" style="width: 500px;" role="alert">
      Biểu đồ trạng thái đơn hàng
    </div>
  </div>
</div>
<br><br>
<div class="row">
<h2>Doanh thu theo nhân viên</h2>
<div class="col-2">
  <mat-form-field color="accent" appearance="outline" style="width: 100%;">
    <mat-label>Ngày từ</mat-label>
    <input matInput [matDatepicker]="picker1" [(ngModel)]="dsParam.dateFrom" name="ngaytu" (dateChange)="bao_cao_theo_nhan_vien()">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
</div>
<div class="col-2">
  <mat-form-field color="accent" appearance="outline" style="width: 100%;">
    <mat-label>Đến ngày</mat-label>
    <input matInput [matDatepicker]="picker2" [(ngModel)]="dsParam.dateTo" name="ngayden" (dateChange)="bao_cao_theo_nhan_vien()">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
</div>
<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Tên</th>
      <th scope="col">Số điện thoại</th>
      <th scope="col" style="width: 10%;">Số lượng</th>
      <th scope="col" style="width: 10%;">Tổng tiền</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of dsDataTheoNV;index as index">
      <th scope="row">{{index + 1}}</th>
      <td>{{item.hoTen}}</td>
      <td>{{item.soDienThoai}}</td>
      <td>{{item.soLuongBan}}</td>
      <td>{{item.tongTien}}</td>

    </tr>

  </tbody>
</table>
</div>
