<h1>Danh sách tài khoản</h1>
<button mat-raised-button color="primary" (click)="OpenDiaLog('')">Thêm mới</button>
<div class="mother-box">
    <div class="row">
        <div class="col-1">
            <button mat-raised-button color="primary" (click)="getPage()">Tìm kiếm</button>
        </div>
        <div class="col-3">
            <mat-form-field style="width: 200px;margin-left: 100px;">
                <mat-label>Tìm kiếm tên, địa chỉ...</mat-label>
                <span matSuffix><span class="material-icons">
                        search
                    </span></span>
                <input matInput [(ngModel)]="searchUser.sSearch" (change)="getPage()">
            </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field>
            <mat-label>Favorite food</mat-label>
            <mat-select [(ngModel)]="searchUser.RoleId" name="roleId" (ngModelChange)="getPage()">
              <mat-option value="">Tất cả</mat-option>
              <mat-option *ngFor="let food of dsRole" [value]="food.id">
                {{food.ten}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
    </div>
    <br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Họ tên</th>
                <th scope="col">Địa chỉ</th>
                <th scope="col">Email</th>
                <th scope="col">SDT</th>
                <th scope="col">Tuổi</th>
                <th scope="col">UserName</th>
                <th scope="col">Quyền hạn</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data;index as i">
                <th scope="row">{{ i+1 }}</th>
                <td>{{ item.hoTen}}</td>
                <td>{{ item.diaChi }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.soDienThoai }}</td>
                <td>{{ item.ngaySinh|date:'dd/MM/yyyy' }}</td>
                <td>{{ item.username }}</td>
                <td>{{ item.role }}</td>
                <td>
                    <button mat-mini-fab color="primary" (click)="OpenDiaLog(item)"><span class="material-icons">
                            create
                        </span></button>
                        <button mat-icon-button color="warn" title="Xóa" [matMenuTriggerFor]="menu"><mat-icon>delete</mat-icon></button>
                        <mat-menu #menu="matMenu">
                          <button mat-button (click)="DeleteById(item.id)">
                            Xác nhận
                          </button>
                        </mat-menu>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row mt-4">
        <div class="col-lg-2">
            <h3>Page: {{ searchUser.pageIndex +1}}</h3>
        </div>
        <div class="col-lg-10">
            <mat-paginator [length]="TotalItem" [pageIndex]="searchUser.pageIndex" [pageSize]="searchUser.pageSize"
                [pageSizeOptions]="[5,10, 20, 50,100]" (page)="getPaginate($event)" showFirstLastButtons>
            </mat-paginator>
        </div>

    </div>
</div>
