<div class="container header">
  <div><span>cuongnb3698@gmail.com</span><span>034.209.1357</span></div>
  <div class="mid-header">Nguyễn Bá Cường <strong> 09060260125</strong></div>
  <div *ngIf="!DaDangNhap">
    <span>
      <a routerLink="../dangky"><i class="fas fa-sign-out-alt"></i>Sign up</a>
      <a routerLink="/shop/dangnhap">Login</a>
    </span>
  </div>
  <div class="dropdown" *ngIf="DaDangNhap">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-label>{{name}}</mat-label>
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a routerLink="taikhoan" mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Tài khoản</span>
      </a>
      <a routerLink="lichsu" mat-menu-item>
        <mat-icon>voicemail</mat-icon>
        <span>Lịch sử mua hàng</span>
      </a>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span style="color: red;">Đăng xuất</span>
      </button>
    </mat-menu>
  </div>
</div>
<div class="container nav">
  <div class="nav-left"><img src="./assets/img/logo.png" style="width: 200px;height: 70px;" alt=""></div>
  <div class="nav-mid">
    <ul>
      <li>
        <div class="btn-group">
          <a routerLink="../shop" type="button" class="btn btn-info dropdown-toggle active"
            style="background-color: #00f2bc;">HOME
          </a>
        </div>
      </li>
      <li>
        <div class="btn-group">
          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
           SHOP
          </button>

        </div>
      </li>
      <li>
        <div class="btn-group">
          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            BLOG
          </button>

        </div>
      </li>
      <li>
        <div class="btn-group">
          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            PAGES
          </button>

        </div>
      </li>
      <li>
        <div class="btn-group">
          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            BEST SELLING
          </button>

        </div>
      </li>
    </ul>
  </div>
  <div class="nav-right">
    <div class="cart">

      <span><a routerLink="./shopping-cart">
          <mat-icon matBadge="{{up.selectedValue}}" matBadgeColor="warn">shopping_cart</mat-icon>
        </a></span>
      <span>Cart: <a routerLink="./shopping-cart">{{TongTien|tiente}} đ</a></span>
    </div>

  </div>

</div>
