<h1>Danh sách SẢN PHẨM</h1>
<div class="mother-box">
  <div class="row">
    <div class="col-1"><button mat-raised-button color="primary" (click)="OpenDiaLog(null)">Thêm mới</button></div>
    <div class="col-1">
      <button mat-raised-button (click)="getPage()">Tìm kiếm</button>
    </div>
    <div class="col-3">
      <mat-form-field style="width: 200px;margin-left: 100px;">
        <mat-label>Tìm kiếm tên, địa chỉ...</mat-label>
        <span matSuffix><span class="material-icons">
            search
          </span></span>
        <input matInput [(ngModel)]="searchSP.sSearch" (change)="getPage()">
      </mat-form-field>
    </div>
  </div>
  <br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>STT</th>
        <th scope="col">Tên</th>
        <th scope="col">Giá()</th>
        <th scope="col">Mô tả</th>
        <th scope="col">Thời gian tạo</th>
        <th scope="col">Trạng Thái</th>
        <th scope="col">Khuyến mãi</th>
        <th scope="col">Option</th>
        <th>Hành động</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of dsSanPham;index as i">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ item.ten}}</td>
        <td>{{ item.giaMacDinh}}</td>

        <td>{{ item.moTa | substr}}</td>
        <td>{{ item.thoiGianTao |date }}</td>
        <td>
          <section class="float-left ml-3">
            <mat-checkbox [(ngModel)]="item.active" name="active" name>Hoạt động</mat-checkbox>
          </section>
        </td>
        <td>{{ item.khuyenMai}}</td>
        <td> <a mat-raised-button color="primary" [routerLink]="['../sanpham/option',item.id]">Option</a></td>
        <td>
          <button mat-mini-fab color="primary" (click)="OpenDiaLog(item)"><span class="material-icons">
              create
            </span></button>
          <button mat-mini-fab color="warn" title="Xóa" [matMenuTriggerFor]="menu"><span
              class="material-icons">delete</span></button>
          <mat-menu #menu="matMenu">
            <button mat-button (click)="DeleteById(item.id)">
              Xác nhận
            </button>
          </mat-menu>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row mt-4">
    <div class="col-lg-2">
      <h3>Page: {{ searchSP.pageIndex + 1}}</h3>
    </div>
    <div class="col-lg-10">
      <mat-paginator [length]="TotalItem" [pageIndex]="searchSP.pageIndex" [pageSize]="searchSP.pageSize"
        [pageSizeOptions]="[5 ,10, 20, 50,100]" (page)="getPaginate($event)" showFirstLastButtons>
      </mat-paginator>
    </div>

  </div>
</div>