<div style="width: 27cm;height: 21cm;">
  <div class="row">
    <div class="col-4">
      <h1>TÊN CỬA HÀNG</h1>
      <p>Địa chỉ THÔN ĐỒNG - SƠN ĐỒNG - HOÀI ĐỨC - HÀ NỘI</p>
    </div>
    <div class="col-8">
      <span>HÓA ĐƠN BÁN HÀNG</span>
    </div>

  </div>

  <div class="row">
    <p>Tên khách hàng: </p>
    <p>Địa chỉ: </p>
    <p>Số điện thoại: </p>
  </div>

  <div class="row">
    <table class="table table-bordered border-primary">
      <thead>
        <tr>
          <th>STT</th>
          <th>Tên hàng</th>
          <th>Số lượng</th>
          <th>Đơn giá</th>
          <th>Thành tiền</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
        </tr>
        <tr>
          <td colspan="4"></td>
          <td>11111</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <p>Thành tiền (viết bằng chữ)</p>
  </div>

  <div class="row">
    <div class="col-6">
      <span>Khách hàng</span>
    </div>
    <div class="col-6">
      <p><span>Ngày </span><span>Tháng</span><span>Năm</span></p>
      <p>Người bán hàng</p>
    </div>
  </div>

</div>
