<h1>Quản lý kho</h1>
<div class="mother-box">
  <div class="row">
    <div class="col-1"><button mat-raised-button color="primary" (click)="OpenDiaLog(null)">Thêm mới</button></div>
    <div class="col-1">
      <button mat-raised-button (click)="GetTonKho()">Tìm kiếm</button>
    </div>
    <div class="col-3">
      <mat-form-field style="width: 200px;margin-left: 100px;">
        <mat-label>Tìm kiếm tên, địa chỉ...</mat-label>
        <span matSuffix><span class="material-icons">
            search
          </span></span>
        <input matInput [(ngModel)]="search.Search" (change)="GetTonKho()">
      </mat-form-field>
    </div>

    <div class="col-3">
      <mat-form-field appearance="fill">
        <mat-label>Tìm kho</mat-label>
        <mat-select [(ngModel)]="search.IdKho" (ngModelChange)="GetTonKho()">
          <mat-option value="">Tìm theo kho</mat-option>
          <mat-option *ngFor="let item of dsSearchKho" [value]="item.id">
            {{item.ten}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Tên</th>
        <th scope="col">Số lượng tồn</th>
        <th>Kho</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of dsKho">
        <th scope="row">{{ item.stt}}</th>
        <td>{{ item.ten}}</td>
        <td>{{ item.tonKho }}</td>
        <td>{{ item.kho }}</td>
      </tr>
    </tbody>
  </table>
  <div class="row mt-4">
    <div class="col-lg-2">
      <h3>Page: {{ search.PageIndex + 1}}</h3>
    </div>
    <div class="col-lg-10">
      <mat-paginator [length]="total" [pageIndex]="search.PageIndex" [pageSize]="search.PageSize"
        [pageSizeOptions]="[5, 10, 20, 50,100]" (page)="getPaginate($event)" showFirstLastButtons>
      </mat-paginator>
    </div>

  </div>
</div>
