<div class="mt-3">
  <h1>Tồn kho</h1>
  <div class="row">
    <div class="col-3">
      <!-- zone search -->
      <div>
        <mat-form-field style="width: 100%;">
          <mat-label>Tìm kiếm</mat-label>
          <span matSuffix><span class="material-icons">
              search
            </span></span>
          <input matInput  name="sea">
        </mat-form-field>
      </div>
      <!--  -->
    </div>
    <!-- <div class="col-2">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Trạng thái</mat-label>
        <mat-select [(value)]="Search.TrangThaiId" (valueChange)="getCart()">
          <ng-container *ngFor="let item of dsTrangThai">
            <mat-option [value]="item.id">{{item.ten}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div> -->
    <!-- <div class="col-2">
      <mat-form-field color="accent" appearance="outline" style="width: 100%;">
        <mat-label>Ngày từ</mat-label>
        <input matInput [matDatepicker]="picker1" [(ngModel)]="Search.TuNgay" name="ngaytu" (dateChange)="getCart()">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-form-field color="accent" appearance="outline" style="width: 100%;">
        <mat-label>Đến ngày</mat-label>
        <input matInput [matDatepicker]="picker2" [(ngModel)]="Search.DenNgay" name="ngayden" (dateChange)="getCart()">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
  </div> -->
  <!-- <div class="alert alert-success">
    Các đơn hàng trong {{demNgay == 1?'trong ngày hôm nay!': demNgay + ' ngày trước!'}}
  </div> -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Tên sản phẩm</th>
        <th scope="col">Số lượng trong kho</th>
        <th scope="col">Kho</th>
        <th>Xem</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of dataSource; index as index">
        <th scope="row">{{index + 1}}</th>
        <td>{{item.thoiGianTao | date:'dd/MM/yyyy'}}</td>
        <td>{{item.tinNhan| substr: 30}}</td>
        <td>{{item.diaChi}}</td>
        <td>{{item.sdt}}</td>
        <td><a mat-raised-button [routerLink]="['../chitietdonhang/']" [queryParams]="{ id: item.id}">Xem</a></td>
      </tr>
    </tbody>
  </table>
  <div>
    <mat-paginator [length]="total" [pageSize]="Search.PageSize" [pageIndex]="Search.PageIndex"
      [pageSizeOptions]="[5, 10, 25, 100]" (page)="getPaginate($event)">
    </mat-paginator>
  </div>
</div>


